/*
fb #3b5999
insta #e4405f
yt #cd201f
*/

.header-bg {
    height: 100%;

    background-image: url("img/bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    /*background-position: 50% 50%;*/
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

html, body {
    height: 100%;
    background-size: cover;
}

.color-facebook, .color-facebook a.btn-link, a.btn-link.color-facebook {
    color: #3b5999;
}

.color-instagram, .color-instagram a.btn-link, a.btn-link.color-instagram {
    color: #e4405f;
}

.color-youtube, .color-youtube a.btn-link, a.btn-link.color-youtube {
    color: #cd201f;
}

.icon {
    position: relative;
    top: 0.1em;
    display: inline-block;
    width: 1em;
    height: 1em;
    /*fill: none;*/
    /*stroke: currentColor;*/
    /*stroke-width: 2px;*/
    /*stroke-linecap: round;*/
    /*stroke-linejoin: round;*/
    vertical-align: baseline;
}

.icon.large {
    width: 3em;
    height: 3em;
}
